BOT_TOKEN=
CHEST_INFO_CHANNEL_ID=
CHEST_INFO_MESSAGE_ID=
CHEST_EVENTS_FILE=chest_events.json
GOOGLE_API_KEY=
DATABASE_URL=postgres://boop:yourpassword@localhost:5432/boopfish
CHATBOT_CONTEXT_FILE=chatbot_context.txt